body {
  background: #e6e6fa;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  text-align: center;
  width: 300px;
}

.tabs button {
  margin: 5px;
  padding: 10px;
}

.form {
  display: none;
  margin-top: 10px;
}

.form.active {
  display: block;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
}

button {
  padding: 10px 20px;
}
